@import
 url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'
);

body
 {
  
font-family
: 
'Poppins'
, sans-serif;
}

*
 {
  
font-family
: 
'Poppins'
, sans-serif;
}

/* App.css */

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .bg-white {
  background-color: #222 !important;
  color: white !important;
}

.dark-mode input,
.dark-mode select {
  background-color: #222;
  color: #fff;
  border-color: #444;
}

/* Add other dark mode styles as needed */
